<! Doctype html>
<html>
<head>
    <title>
        Error page
    </title>
</head>
<body>
    <div>
        Error Happines 404
    </div>
    <div>
        <img src="~/mercury.jpg" loading="lazy" />

    </div>
</body>
</html>